.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    width: 100%;
    .buttons {
      display: flex;
      justify-content: space-between;
      .custom-button {
        min-width: 120px;
        padding: 0 5px;
      }
    }
  }
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
